<config>
    <monitor threads="2"/>
    <port_monitor timeout="5"/>
    <syslog facility=""/>
    <lib database="/home/tmerritt/panoptes/database/.libs/libmysqldisc.so"/>
    <db name="panoptes" user="db_username" password="db_password" host="localhost" sqlinit="/home/tmerritt/panoptes/dbinit.sql"/>
    <rrd directory="/home/tmerritt/panoptes_rrds"/>
    <port_monitors_rrd datasource_type="GAUGE"/>
    <autodiscoveryform displayentries="10"/>
</config>
